<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit User</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid row">
            <div class="container col-5">
                <h1 class="mx-auto mt-3" style="width: 260px;">Edit {{user.first_name}}</h1>
                <form action="/user/edit/{{user.id}}" method="post">
                    <div class="mb-3">
                        <label for="firstname" class="form-label">First Name:</label>
                        <input type="text" class="form-control" name="firstname" value="{{user.first_name}}" />
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name:</label>
                        <input type="text" class="form-control" name="lastname" value="{{user.last_name}}"/>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" name="email" value="{{user.email}}"/>
                    </div>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <form class="btn-group" action="/user/edit/{{user.id}}" method="post">
                            <button class="btn btn-success">Update User</button>
                        </form>
                        <form class="btn-group" action="/user/show/{{user.id}}" method="post">
                            <button class="btn btn-info">Show User</button>
                        </form>                    
                    </div>
                    <div class="error">
                        {% with messages = get_flashed_messages(category_filter = ["edituser"]) %}
                            {% for message in messages: %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endwith %}
                    </div>
                </form>
            </div>
            <div class="container col-1 ms-6">
                <form action="/users" method="post">
                    <button class="btn btn-warning mt-4" type="submit">Home</button>
                </form>
            </div>
        </div>
    </body>
</html>