<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid row">
            <div class="container col-4 me-1">
                <h1 class="mx-auto my-3" style="width: 120px;">User {{user.id}}</h1>
                <div class="container col-12 border border-dark pt-3">
                    <p>Full Name: {{user.first_name}} {{user.last_name}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Created On: {{user.created_at}}</p>
                    <p>Last Updated: {{user.updated_at}}</p>
                </div>
                <div class="btn-group mt-3" role="group" aria-label="Actions">
                    <form class="btn-group" action="/user/edit/{{user.id}}" method="get">
                        <button class="btn btn-primary">Edit</button>
                    </form>
                    <form class="btn-group" action="/user/delete/{{user.id}}" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <div class="container col-1 ms-6">
                <form action="/users" method="post">
                    <button class="btn btn-warning mt-4" type="submit">Home</button>
                </form>
            </div>
        </div>
    </body>
</html>